* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100dvh;
}

header {
    position: absolute;
    z-index: 300;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign-in {
    color: #95a0b1;
    padding-right: 80px;
}

.sign-in>a {
    color: #1565d8;
}

main {
    display: flex;
    height: 100%;
}

.quote-section {
    flex: 0 0 40%;
    height: 100%;
    background: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}

.quote-section .quote-section-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(44, 117, 220, 0.8);
}

.quote-section>* {
    position: relative;
    z-index: 100;
}

.logo {
    margin: 50px 80px;
    width: 100px;
}

.logo img {
    width: 100%;
}

.quote-card {
    padding-inline: 80px 100px;
    margin-block: auto;
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: 300;
}

.quote-card>i {
    font-size: 60px;
    color: #00daf7;
    transform: translateX(-8px);
}

.quote-card .quote-author {
    margin-top: 20px;
}

.main-section {
    height: 100%;
    display: flex;
}

.main-section-inner {
    margin-block: auto;
    padding-inline: 80px;
}

.main-section-inner h2 {
    font-size: 30px;
}

.main-section-inner>p {
    color: #8692a6;
}

.account-types {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.account-types .account-type {
    display: flex;
    width: 100%;
    height: 100px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    align-items: center;
    padding-inline: 26px;
    gap: 20px;
    border: 2px solid rgba(44, 117, 220, 0);
    transition: all .2s ease-in-out;
    position: relative;
}


.account-types .account-type:hover {
    box-shadow: none;
    border: 2px solid rgb(44, 117, 220);
    background-color: #f5f9ff;
}

.account-types .account-type::after {
    display: none;
    content: '\F135';
    font-family: 'bootstrap-icons';
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4%;
    color: rgb(44, 117, 220);
}

.account-types .account-type:hover::after {
    display: block;
}

.account-types .account-type .account-type-icon {
    position: relative;
    width: 52.5px;
    height: 50px;
    background: rgb(44, 117, 220);
    color: rgb(44, 117, 220);
    clip-path: polygon(50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .15s ease-in-out;
    aspect-ratio: 1.1 / 1;
}


.account-types .account-type .account-type-icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48.5px;
    height: 46px;
    background: #fff;
    clip-path: polygon(50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
    transition: all .15s ease-in-out;
}

.account-types .account-type:hover .account-type-icon {
    color: #fff;
}

.account-types .account-type:hover .account-type-icon::after {
    opacity: 0;
}

.account-types .account-type .account-type-icon i {
    z-index: 100;
    font-size: 24px;
    transform: translateY(3px);
}

.account-type-title {
    color: black;
    font-weight: 500;
}

.account-type-desc {
    color: #8692a6;
    font-weight: 500;
}

@media screen and (max-width: 1200px) {
    .quote-section {
        display: none;
    }

    .logo {
        filter: invert(1);
    }
}

@media screen and (max-width: 600px) {
    .account-type-desc {
        font-size: 13px;
    }

    .sign-in {
        padding-right: 40px;
        font-size: 14px;
    }

    .logo {
        margin-left: 40px;
        font-size: 14px;
    }

    .main-section-inner {
        padding-inline: 40px;
    }
}

/* Register Page */
form.register-form {
    margin-block: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgba(46, 45, 45, 0.15);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
    padding-inline: 30px;
}

.input-group input:focus, .input-group input:focus-visible {
    border: 1.5px solid rgb(44, 117, 220)!important;
    outline: none;
}

.input-group label {
    color: #696f79;
    font-weight: 500;
}

form button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: rgb(44, 117, 220);
    color: #fff;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

form button:hover {
    background-color: rgb(41, 108, 202);
}